cpu_env_numpy2.yaml
*.slurm.sh
*.out
*.error
test/data/decoy_dataset/
test/data/shiftx2_dataset/
test/data/A001_1KF3A_lessB.pdbH
test/ens_models_weights_false
test/resave_nmr_weights.py
test/legolas_weights_false.py
test/closest200_cs.parquet
test/closest200_cs.csv

# Python cache and build
__pycache__/
*.pyc
.eggs
*.egg-info/

# Other cache
.mypy_cache/
.pytest_cache/
.cache/


# line profiler
*.prof

# memory profiler
mprofile_*

# Vscode
.vscode

# Vim swap files
*.swp
*.swo
